<!DOCTYPE html>
<html>
    <head>
        <title>잡동사니</title>
    </head>
    <body>
        <h1>로또번호 추천</h1>
        "로또를 뽑아뽕아" <br/>
        <p>로또추첨 번호: <%= @lotto%></p>
       
       
    <!--html과 루비코드를 연결시켜주어야 한다.-->
    <!--html안에 루비코드를 임베디드 하겠다.-->
    
    </body>
</html>